<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Result</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="site.css" type="text/css" rel="stylesheet" />
</head>
<body class="bodyImg">
  <header>
     <img class="imgSize" src="/image/cool-geek-logo-vector-2088780.png" alt="imgDescription">
</header>
    <div class="card">
                 <div class="row">                 
                   <div class="Question">
                     <div class="result">
                    <span class="pull-left labelBorder">Quiz Result</span>
                     </div>
                     <div class="newGame">
                    <form action="/login">
                      <div class="startGameBtn new"> <button type="submit" class="button submit">Start Your Game</button></div>
                    </form>
                    </div>
                         {{!-- <h5>This is the result of your current quiz</h5>   --}}
                            <ul class="ulClass">
                                <li class="liClass">
                                  {{#each data}}
                                  <div>
                                   <span><i class="glyphicon glyphicon-ok"></i></span><span>   Question Number: {{this.questionId}} Question Level: {{this.level}} Marks: {{this.marks}}
                                   </span>
                                   </div>
                                   {{/each}}
                                 </li>
                            </ul>
                            {{!-- <h5>Your total marks: {{totalMarks}}</h5> --}}
                            <div class="h5Div">Your total marks: {{totalMarks}}</div>
                    </div>
                   </div>

    </div> 
</body>
</html>

